body {background-color: #FFF2F2;}

hr {border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #8EA7E9;
    width: 10%;
}

h1 {color: #7286D3;}

h3 {color: #7286D3;}
